PORT=3000
ASAAS_BASE_URL=https://api-sandbox.asaas.com/v3
ASAAS_API_KEY=coloque_seu_token_sandbox_aqui
FREE_TRIAL_WEBHOOK=https://make.fala.app.br/webhook/a5984e82-da61-4e83-8fcf-001c44b48c35
FALA_APP_API_URL=https://api.fala.app.br
ADMIN_COOKIE_SECRET=troque_por_segredo_aleatorio_forte
